<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Stories</title>
  </head>
  <body>
    <div class='about-home'>
        <div>
            <h1>Relive your favorite Adventures</h1>
            <p>Remember the many moments of Joy, Laughter, Beautiful Landscapes, Places and Shows.</p>
        </div>   
    </div>

    <div class='home-support'>
      <div class='container'>
        <h2>Post Your Best Vacation Pics</h2>
        <p>All The BEST Memories. The long plane rides and the cab translators show us the good times!!</p>
        <a class="btn btn-success btn-lg" href="/signup">Signup</a>
      </div>
    </div>
  </body>
</html>