<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Stories</title>
  </head>
  <body>
    <div class='home'>
        <div>
            <h1 class='fancy'>Create and Share Adventures</h1>
            <p>  
              <a class="btn btn-success btn-lg" href="about">Learn More</a>
            </p>      
        </div>    
    </div>


    <div class='home-support'>
      <div class='container'>
      <h2>Relive and Share Awesome Memories</h2>
      <p>Stories automatically creates a digital journal filled with only your best photos.</p>
      </div>
    </div>

    <div class="homeaway">
    <div class="container">
    </div>
    </div>


    <div class='home-about'>
    <div class='container'>
        <h2>Discover Stories</h2>
        <p>
          <a class='btn btn-success', href="about">Learn More</a>
        </p>  
    </div>
    </div>
  </body>
</html>