<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Stories</title>
  </head>
  <body> 
   <div class='contact-thanks'>
    
    <h1 class='fancy'>Thanks for Joining!</h1>
   </div>
  
    
    
   <div class='home-support'>
    <div class='container'>
       <a class='btn btn-success btn-lg' href="#">Travelogues</a>
    </div>
   </div>
 </body>
</html>