<div class="header">
  <div class="container">
    <h1>Images</h1>
  </div>
</div>


<div class="messages">
 <div class="img2">
  <%= form_for :image do |f| %>
  <%= f.label "Image" %>
  <%= f.file_field :image %>
  <% end %>
 </div>
</div>

 <a class="btn btn-success btn-lg" href="/image">Images</a>